# URL CSV dari Google Sheets yang di-Publish to Web:
# File -> Bagikan (Share) -> Publikasikan ke web (Publish to the web) -> Pilih format CSV
GOOGLE_SHEETS_CSV_URL=""

# Google Analytics 4 (GA4) & Google Search Console
PUBLIC_GA_MEASUREMENT_ID="G-4KFSYF5TER"
PUBLIC_GOOGLE_SITE_VERIFICATION="8kQ1l3oGtY9gzfK29Kjm-_bB9OukkPvPbx6D-gwbuOU"

